# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Ignore FFmpeg binaries and related files
ffmpeg.exe
ffprobe.exe
ffplay.exe
ffmpeg/
ffprobe/
ffplay/
*.dll
*.so
*.dylib

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/
venv3/
.venv3/

# Ignore all .webm and .wav files everywhere
*.webm
*.wav

# Ignore other common audio/video formats
*.mp3
*.mp4
*.m4a
*.flac
*.aac
*.ogg
*.txt
*.ttf

# Ignore files
done/

# OS files
.DS_Store
Thumbs.db

# Output directories
chapters_m4a/
audio_books/

# Temporary files
*.mp3
*.m4a
*.log
*.tmp

# VS Code settings

# credentials
credentials.json
token.json

# Ignore Pdf files
*.pdf